body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97vw;
    height: 97vh;
}

.svg-container {
    width: 90vmin;
    height: 90vmin;
}

.cell {
    fill: white;
    stroke: black;
    width: 33%;
    height: 33%;
}

image {
    width: 33%;
    height: 33%;
}